.container {
    background-color: gray;
    width: max-content;
    padding: 1em;
    border-radius: 16px;
    height: max-content;
}

.keyboard {
    display: flex;
    padding: 1em 0;
}

.left,.right {
    flex: auto;
}

.left {
    flex: 3 0 auto;
}

.display {
    height: 1em;
    width: 16em;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 4px;
    text-align: right;
}

.row {
    display: flex;
}

.calcButton {
    /* aspect-ratio: 1/1; */
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-content: center;
    color: blue;
    border-radius: 4px;
    margin: 8px;
    padding: 1em 0;
}